body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

header {
  background: #35424a;
  color: #ffffff;
  padding: 20px 0;
  text-align: center;
}

main {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
}

section.game-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

article {
  background: #ffffff;
  margin: 10px;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  flex: 0 0 calc(30% - 20px); /* 设置宽度为 30%，可以在一行放三个游戏 */
}

footer {
  text-align: center;
  padding: 20px 0;
  background: #35424a;
  color: #ffffff;
  position: relative;
  bottom: 0;
  width: 100%;
}
